@charset "UTF-8";

h1#especial {
    border: solid 5px black;
    width: 220px;
    padding: 10px;
    margin: 10px;
    outline: 10px;
    border-radius: 10px;
}

div {
    border: solid 3px black;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

span {
    border: solid 3px black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}